@font-face {
  font-family: Umeboshi;
  src: url(../umeboshifont/umeboshi_.ttf)
}
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
  background-color: #FF8936;
  font-family: Roboto, sans-serif;
  margin: 25px;
  margin-left: 75px;
}
h1, h2{
  font-size: 72;
}
h2{
  color: white;
}
  .japanese{
    font-family: Umeboshi;
  }

/*Desktop responsive CSS*/
@media only screen and (min-width:1250px){
  .contentContainerIndex{
    margin: auto;
    width: 65%;
    padding: 10px;
    position: relative;
    display:flex;
    padding: 20px;
    
  }
  .ContentTitle {
      font-size: 22;
  }
  .title{
    margin-left: 40px;
  }
  .contentIndex{
    text-indent:20px;
    margin-top: 10px;
    width: 30%
  }
  img {
    width: 352;
    height: 270;
    border-radius: 50px;
  }
.navbar {
    overflow: hidden;
    font-family: Roboto, sans-serif;
    position: fixed;
    margin-top: 5px;
    position: relative;
    margin:auto;
  }
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 15%;
  }
  


.center {
    margin: auto;
    width: 70%;
    padding: 10px;
  }
  #home {
    background-color: #db2f23;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  #about {
    background-color: #5C140F;
  }
  #schedule {
    background-color: #E17068;
  }
  #location {
    background-color: #5C2E2A;
  }
  #contact {
    background-color: #A8241B;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
 #home:hover, #about:hover, #schedule:hover, #location:hover, #contact:hover {
    background-color: #F9DC5C;
  }
  .navlink:hover{
    background-color: #F9DC5C;
}


  /* Phone responsive CSS*/
@media only screen and (max-width:600px){
  /* just indicate that this is happening now*/
  body{
    background-color: blue;
  }  
  .navbar {
      display:block;
      overflow: hidden;
      font-family: Roboto, sans-serif;
      position: fixed;
      margin-top: 5px;
    }
    .navbar a {
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      padding-left: 50px;
      padding-right: 50px;
    }
    .navlink:hover{
      background-color: #F9DC5C;
  }

}